@font-face {
	font-family: '李旭科书法';
	src: url('./李旭科书法1.4.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100%;
	background: url(./logo.png) no-repeat center center;
}

h1 {
	font-family: '李旭科书法';
}